.root {
  overflow: hidden;
  position: relative;

  &:before {
    z-index: -1;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.02;
    background-image: url("../public/roads.svg");
  }

  .wrapper {
    display: flex;
    gap: 90px;
  }

  .wrapper-logo {
    margin: 65px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .copyright {
      opacity: .5;
      font-size: 12px;
      font-weight: 600;
    }
  }

  .map {
    height: 332px;
    width: 100%;
    max-width: 398px;
  }

  .wrap-right {
    gap: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--blue-color);

    .group {
      .group__title {
        font-size: 16px;
        font-weight: 600;
      }

      .group__list {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        & > a, & > span {
          font-size: 14px;
          font-weight: 500;
          white-space: nowrap;
        }

        & > a {
          color: var(--blue-color);
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        .social {
          display: flex;
          gap: 15px;
        }
      }
    }
  }

  .copyright_mobile {
    display: none;
  }
}

@media (max-width: 1440px) {

}

@media (max-width: 1200px) {
  .root {
    .wrapper {
      gap: 50px;
    }

    .map {
      max-width: 350px;
    }

    .wrap-right {
      gap: 60px;
    }
  }
}

@media (max-width: 992px) {
  .root {
    .wrapper {
      gap: 30px;
    }

    .wrapper-logo {
      margin: 50px 0;

      .copyright {
        font-size: 11px;
      }

      .logo {
        width: 96px;
        height: auto;
      }
    }

    .map {
      width: 100%;
    }

    .wrap-right {
      gap: 30px;
    }
  }
}

@media (max-width: 768px) {
  .root {
    .wrapper {
      gap: 0;
      flex-direction: column;
    }

    .wrapper-logo {
      margin: 45px 0 37px;

      .copyright {
        display: none;
      }
    }

    .map {
      max-width: calc(100% + 20px);
      width: calc(100% + 20px);
      margin: 0 -10px;
      height: 237px;
      order: 1;
    }

    .wrap-right {
      align-items: flex-start;
      margin-bottom: 37px;

      .group {
        .group__list {
          & > a, & > span {
            white-space: normal;
          }
        }
      }
    }

    .copyright_mobile {
      order: 2;
      opacity: .5;
      display: block;
      font-size: 11px;
      font-weight: 600;
      padding: 23px 0;
    }
  }
}