.main {
  height: 590px;
  position: relative;

  & > div {
    position: relative;
  }

  &:before {
    left: 0;
    top: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    content: ' ';
    opacity: 0.05;
    display: block;
    position: absolute;
    background-size: cover;
    background-position-y: center;
    background-image: url("../public/background/bg1.jpg");
  }

  .background {
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;

    display: grid;
    grid-gap: 80px;
    grid-template-columns: 1fr 1fr;

    .cars {
      position: relative;

      &:before {
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        content: ' ';
        display: block;
        position: absolute;
        background-repeat: no-repeat;
        background-image: url("../public/strip.svg");
      }

      .car {
        position: absolute;
      }

      .car-1 {
        z-index: 1;
        top: 191px;
        left: -110px;
      }

      .car-2 {
        top: 230px;
        right: -35px;
      }
    }
  }

  .wrapper {
    padding: 39px 0 49px;

    .header {
      display: flex;
      justify-content: space-between;

      .logo {}

      .social {
        .tel {
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          text-align: right;
        }

        .social-net {
          gap: 6px;
          display: flex;
          margin-top: 6px;
          flex-direction: column;

          &__item {
            gap: 6px;
            display: flex;
            align-items: flex-end;
            align-content: center;
            text-decoration: none;

            img {}

            span {
              opacity: 0.8;
              font-size: 12px;
              line-height: 15px;
              color: var(--black-color);
              text-decoration: underline;
            }

            &:hover {
              span {
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    .content {
      .title {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: var(--blue-color);
      }

      .subtitle {
        display: block;
        margin-top: 13px;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
      }

      .desc {
        opacity: .5;
        font-size: 16px;
        margin-top: 40px;
        line-height: 19px;
      }

      .advantages {
        display: grid;
        max-width: 420px;
        margin-top: 50px;
        grid-row-gap: 15px;
        grid-column-gap: 35px;
        grid-template-columns: 1fr 1fr;

        .advantages__item {
          gap: 10px;
          display: flex;
          align-items: center;

          i {
            opacity: .3;
            font-size: 20px;
            color: var(--blue-color);
          }

          span {
            white-space: nowrap;
            font-size: 14px;
            font-weight: 600;
          }
        }
      }

      .form {
        gap: 10px;
        display: flex;
        max-width: 460px;
        margin-top: 32px;

        &__phone {
          width: 260px;
        }

        &__button {
          width: 190px;
        }
      }

      .note {
        margin-top: 41px;

        span {
          opacity: 0.9;
          font-size: 14px;
          line-height: 17px;
          margin-left: 10px;
        }
      }
    }
  }
}

.logos {
  background: var(--grey-color);

  .wrapper {
    padding: 38px 0 32px;
    text-align: center;

    .wrap-logos {
      gap: 28px;
      display: flex;
      overflow-x: scroll;
      padding-right: 20px;
      margin: 0 -20px 13px;
      justify-content: space-between;

      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .desc {
      opacity: 0.2;
      font-size: 12px;
      line-height: 15px;
    }
  }
}

.package-services {
  .wrapper {
    .right-side {
      position: relative;

      .content {
        top: 0;
        right: 0;
        z-index: 2;
        position: absolute;
        transform: translateY(-570px);

        .wrap-direction {
          display: flex;
          position: relative;
          transform: translateY(110px);

          &:before {
            top: 0;
            left: 50%;
            z-index: -1;
            width: 235px;
            content: ' ';
            height: 512px;
            display: block;
            position: absolute;
            background-size: 100% 100%;
            transform: translate(-50%, -80px);
            background-image: url("../public/car_3.png");
          }

          .direction {
            width: 260px;
            filter: drop-shadow(0px 4px 29px rgba(17, 70, 143, 0.15));

            &:nth-child(2) {
              z-index: -1;
              transform: translate(-12px, 30px);
            }

            .direction__item {
              height: 80px;
              display: grid;
              grid-gap: 20px;
              padding: 0 20px;
              background: #FFFFFF;
              align-items: center;
              grid-template-columns: 15px 1fr;

              &:not(:last-child) {
                border-bottom: 1px solid rgba(17, 70, 143, .1);
              }

              .number {
                color: var(--blue-color);
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
              }

              .text {
                font-size: 14px;
                font-weight: 500;
                line-height: 17px;

                .weight {
                  font-weight: 600;
                }
              }

              .wrap-tooltip {
                display: flex;

                & > div {
                  transform: translate(5px, -5px);
                }

                i {
                  font-size: 18px;
                  color: var(--blue-color);
                }
              }
            }
          }
        }
      }
    }

    .top-side {
      height: 309px;
      position: relative;

      &:before, &:after {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }

      &:before {
        z-index: -2;
        opacity: 0.05;
        background-size: cover;
        height: calc(100% + 50px);
        background-position: bottom;
        background-image: url("../public/background/bg1.jpg");
      }

      &:after {
        z-index: -1;
        opacity: 0.1;
        background-color: var(--blue-color);
      }

      .before {
        position: relative;

        &:after {
          content: ' ';
          display: block;
          position: absolute;
          right: -100%;
          top: 0;
          width: 100%;
          height: 569px;
          opacity: 0.04;
          z-index: 1;
          background-position-y: 10px;
          background-position-x: 480px;
          background-size: 1033px 591px;
          background-image: url("../public/roads.svg");
        }
      }

      .content {
        padding: 39px 0 37px;
        position: relative;

        &:before, &:after {
          top: 0;
          content: ' ';
          height: 569px;
          display: block;
          position: absolute;
        }

        &:before {
          right: -160px;
          width: 500px;
          background-size: cover;
          background-image: url("../public/figure.svg");
        }

        &:after {
          width: 100%;
          right: -100%;
          background-color: #E3E8EF;
        }

        .title {
          font-size: 24px;
          font-weight: 600;
          color: var(--blue-color);
        }

        .text {
          width: 560px;
          font-size: 14px;
          line-height: 163.5%;
          margin-top: 26px;
          margin-bottom: 32px;

          .weight {
            font-weight: 500;
          }
        }

        .note {
          opacity: 0.5;
          font-size: 14px;
          line-height: 17px;

          &:not(:last-child) {
            margin-bottom: 12px;
          }
        }
      }
    }

    .bottom-side {
      height: 260px;
      padding: 30px 0 40px;
      background: var(--blue-color);

      .content {
        gap: 43px;
        display: flex;

        .item {
          width: 157px;
          color: #FFFFFF;

          .icon {
            font-size: 24px;
          }

          .title {
            display: block;
            margin-top: 14px;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
          }

          .text {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            margin-top: 12px;
          }
        }
      }
    }
  }
}

.info {
  background: #F1F7FF;

  .wrapper {
    display: grid;
    grid-gap: 43px;
    padding: 47px 0 40px;
    grid-template-columns: repeat(6, 1fr);

    .item {
      color: var(--blue-color);

      .icon {
        font-size: 24px;
      }

      .title {
        display: block;
        margin-top: 14px;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
      }

      .text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin-top: 12px;
      }
    }
  }
}

.popular-models {
  overflow: hidden;
  position: relative;

  &:before, &:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &:before {
    z-index: -2;
    opacity: 0.05;
    background-size: cover;
    background-image: url("../public/background/bg2.jpg");
  }

  &:after {
    z-index: -1;
    opacity: 0.1;
    background-color: var(--blue-color);
  }

  .wrapper {
    padding: 70px 0;

    .title {
      font-size: 24px;
      font-weight: 600;
      color: var(--blue-color);
    }

    .text {
      margin-top: 16px;
      font-size: 16px;
      font-weight: 500;
      line-height: 146%;
      max-width: 440px;
    }

    .button {
      width: 235px;
      display: flex;
      margin: 60px auto 0;
      align-items: center;
      justify-content: center;
    }

    .wrap-cards {
      display: grid;
      grid-gap: 40px;
      margin-top: 32px;
      overflow-x: scroll;
      padding-right: 20px;
      margin-right: -20px;
      padding-left: 20px;
      margin-left: -20px;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.why-korea {
  background: var(--blue-color);

  .wrapper {
    z-index: 1;
    display: flex;
    position: relative;
    padding: 47px 0 39px;
    justify-content: space-between;

    &:before {
      content: ' ';
      display: block;
      position: absolute;
      left: 35px;
      bottom: 0;
      z-index: -1;
      width: 800px;
      height: 315px;
      background-image: url("../public/alcove.png");
      background-size: 100% 100%;
    }

    .title {
      font-weight: 600;
      font-size: 24px;
      color: #FFFFFF;
    }

    .right-side {
      &__item {
        display: flex;
        color: #FFFFFF;
        text-align: right;
        align-items: flex-end;
        flex-direction: column;

        &:not(:last-child) {
          margin-bottom: 24px;
        }

        span {
          font-weight: 600;
          font-size: 22px;
        }

        p {
          opacity: 0.8;
          font-size: 14px;
          margin-top: 8px;
          max-width: 260px;
          font-weight: 600;
          line-height: 143.5%;
        }
      }
    }
  }
}

.new-cars {
  position: relative;

  &:before, &:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &:before {
    z-index: -2;
    opacity: 0.05;
    background-size: cover;
    background-image: url("../public/background/bg3.jpg");
  }

  &:after {
    z-index: -1;
    opacity: 0.1;
    background-color: var(--blue-color);
  }

  .wrapper {
    padding: 67px 0 108px;

    .title {
      font-size: 24px;
      font-weight: 600;
      color: var(--blue-color);
    }

    .text {
      margin-top: 11px;
      font-size: 16px;
      font-weight: 500;
      line-height: 146%;
    }

    .wrap-cards {
      display: grid;
      padding-right: 20px;
      margin-right: -20px;
      padding-left: 20px;
      margin-left: -20px;
      margin-top: 24px;
      overflow-x: scroll;
      grid-row-gap: 65px;
      grid-column-gap: 40px;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.question-answer {
  background: var(--grey-color);

  .wrapper {
    position: relative;
    padding: 60px 0 52px;

    &:before {
      content: '?';
      right: 0;
      bottom: -100px;
      position: absolute;
      font-weight: 700;
      font-size: 328px;
      line-height: 397px;
      color: var(--blue-color);
      opacity: 0.5;
    }

    .title {
      font-size: 24px;
      font-weight: 600;
      color: var(--blue-color);
    }

    .grid {
      display: grid;
      grid-gap: 40px;
      margin-top: 37px;
      grid-template-columns: 6fr 4fr 2fr;

      .icon {
        width: 30px;
        height: 30px;
        font-size: 30px;
        border-radius: 50%;
        color: var(--blue-color);
        border: 1px solid rgba(17, 70, 143, 0);

        &-minus {
          border: 1px solid rgba(17, 70, 143, .1);
        }

        &-plus {
          background: rgba(17, 70, 143, .1);
        }
      }

      .text {
        font-size: 14px;
        font-weight: 400;
        padding-left: 45px;
        color: var(--black-color);
        font-family: 'Inter Tight', sans-serif;
      }
    }
  }
}

.call-back {
  background: var(--blue-color);
  overflow: hidden;
  position: relative;

  &:before {
    z-index: 1;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url("../public/background/bg4.jpg");
    background-size: cover;
  }

  .wrapper {
    z-index: 2;
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 5fr 7fr;
    position: relative;
    padding: 80px 0 145px;

    .left-side {
      padding: 33px 0 0 110px;
      position: relative;
      color: #FFFFFF;

      .left-side__title {
        font-size: 40px;
        font-weight: 600;
      }

      .left-side__info {
        margin-top: 20px;
        display: grid;
        grid-gap: 18px;
        grid-template-columns: 45px 1fr;

        i {
          font-size: 45px;
        }

        span {
          font-size: 20px;
          font-weight: 500;
        }
      }

      .left-side__car {
        position: absolute;
        bottom: -97px;
      }
    }

    .right-side {
      display: grid;
      max-width: 560px;
      padding: 40px 70px;
      justify-items: center;
      background: var(--grey-color);

      .right-side__title {
        font-size: 24px;
        font-weight: 600;
        color: var(--blue-color);
      }

      .advantages {
        display: grid;
        margin-top: 30px;
        grid-row-gap: 15px;
        grid-column-gap: 35px;
        grid-template-columns: 1fr 1fr;

        .advantages__item {
          gap: 10px;
          display: flex;
          align-items: center;

          i {
            opacity: .3;
            font-size: 20px;
            color: var(--blue-color);
          }

          span {
            white-space: nowrap;
            font-size: 14px;
            font-weight: 600;
          }
        }
      }

      .form {
        width: 260px;
        margin-top: 35px;

        .form__checkbox {
          display: grid;
          grid-gap: 10px;
          grid-template-columns: 20px 1fr;
          margin-top: 20px;
          font-family: 'Inter Tight', sans-serif;

          span {
            font-size: 12px;
            font-weight: 500;

            a {
              color: #2780FB;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        .form__button {
          margin-top: 23px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .main {
    .background {
      display: flex;
      justify-content: flex-end;

      & > div:first-child {
        display: none;
      }

      .cars {

        &:before {
          top: 50px;
          left: -200px;
          width: 420px;
          height: 580px;
        }

        .car-1 {
          top: 220px;
          left: -325px;
        }

        .car-2 {
          display: none;
        }
      }
    }
  }

  .package-services {
    .wrapper {
      .wrap-right-side {
        background: #E3E8EF;
        position: relative;

        &:after {
          content: ' ';
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 0.04;
          z-index: 1;
          background-image: url("../public/roads.svg");
        }

        .right-side {
          padding: 30px 0 60px;

          .content {
            display: flex;
            position: relative;
            justify-content: center;
            transform: translateY(0);

            .wrap-direction {
              transform: translateY(0);

              &:before {
                top: 0;
                left: 0;
                width: 289px;
                height: 630px;
                transform: rotate(90deg) translate(-120px, -110px);
              }
            }
          }
        }
      }

      .top-side {
        .before {
          &:after {
            display: none;
          }
        }

        .content {
          &:before, &:after {
            display: none;
          }
        }
      }
    }
  }

  .why-korea {
    .wrapper {
      &:before {
        width: 700px;
        height: 276px;
      }
    }
  }

  .call-back {
    .wrapper {
      .left-side {
        padding: 15px 0 0 30px;

        .left-side__title {
          font-size: 32px;
        }

        .left-side__car {
          right: -135px;
          width: 450px;
          height: auto;
        }
      }

      .right-side {
        padding: 40px 50px;
      }
    }
  }
}

@media (max-width: 992px) {
  .main {
    .background {
      .cars {
        .car-1 {
          left: -270px;
        }
      }
    }
  }

  .info {
    .wrapper {
      grid-gap: 20px;
    }
  }

  .why-korea {
    .wrapper {
      &:before {
        left: 10px;
        width: 601px;
        height: 237px;
      }
    }
  }

  .question-answer {
    .wrapper {
      padding: 30px 0 52px;
    }
  }

  .call-back {
    .wrapper {
      grid-gap: 30px;
      padding: 60px 0 125px;
      grid-template-columns: 1fr 1fr;

      .left-side {
        padding: 15px 0 0 60px;

        .left-side__car {
          right: -100px;
          width: 370px;
        }
      }

      .right-side {
        padding: 22px 25px;
      }
    }
  }
}

@media (max-width: 865px) {
  .call-back {
    .wrapper {
      .left-side {
        padding: 30px 0 0 30px;

        .left-side__title {
          font-size: 24px;
        }

        .left-side__info {
          grid-gap: 12px;
          grid-template-columns: 42px 1fr;

          i {
            font-size: 42px;
          }

          span {
            font-size: 16px;
          }
        }

        .left-side__car {
          width: 329px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .main {
    height: auto;

    .background {
      .cars {
        &:before {
          top: 140px;
          left: -140px;
          width: 300px;
          height: 414px;
          background-size: 100%;
        }

        .car-1 {
          top: 235px;
          left: -160px;
          width: 364px;
          height: 183px;
        }
      }
    }

    .wrapper {
      .header {
        .logo img {
          width: 90px;
          height: 28px;
        }
      }

      .content {
        .title {
          font-size: 28px;
          margin-top: 45px;
          line-height: 34px;
        }

        .subtitle {
          margin-top: 8px;
          font-size: 16px;
          line-height: 22px;
        }

        .desc {
          font-size: 12px;
          margin-top: 29px;
        }

        .advantages {
          grid-template-columns: 1fr;
          grid-row-gap: 14px;
          margin-top: 35px;

          .advantages__item {
            &:nth-child(2) {
              order: 1;
            }

            &:nth-child(4) {
              order: 2;
            }
          }
        }

        .form {
          margin-top: 41px;
          flex-direction: column;

          &__phone {
            width: 100%;
            max-width: 355px;
          }

          &__button {
            width: 100%;
            max-width: 355px;
          }
        }

        .note {
          span {
            margin: 14px 0 0;
            display: block;
          }
        }
      }
    }
  }

  .package-services {
    .wrapper {
      .wrap-right-side {
        .right-side {
          height: 676px;
          padding: 43px 0 108px;

          .content {
            transform: translateX(-20px);

            .wrap-direction {
              display: grid;

              &:before {
                width: 299px;
                height: 652px;
                transform: translate(0, -60px);
              }

              .direction {
                &:nth-child(2) {
                  transform: translate(40px, -10px);
                  z-index: -1;

                  .direction__item {
                    &:last-child {
                      height: 80px;
                    }
                  }
                }

                .direction__item {
                  height: 65px;
                }
              }
            }
          }
        }
      }

      .top-side {
        height: auto;

        .content {
          padding: 45px 0 28px;

          .text {
            width: 100%;
            margin-bottom: 25px;
          }

          .note {
            font-size: 13px;
            line-height: 19px;

            &:not(:last-child) {
              margin-bottom: 16px;
            }
          }
        }
      }
    }
  }

  .logos {
    .wrapper {
      padding: 20px 0 32px;

      .wrap-logos {
        gap: 10px;
        margin-bottom: 9px;
      }
    }
  }

  .info {
    .wrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;
      padding: 42px 0 45px;
      grid-row-gap: 35px;
    }
  }

  .popular-models {
    .wrapper {
      padding: 40px 0;

      .text {
        font-size: 14px;
      }

      .button {
        width: 100%;
        max-width: 300px;
        margin-top: 30px;
      }

      .wrap-cards {
        grid-gap: 10px;
        margin-top: 27px;
        padding-right: 10px;
        margin-right: -10px;
        padding-left: 10px;
        margin-left: -10px;
      }
    }
  }

  .why-korea {
    overflow: hidden;

    .wrapper {
      padding: 50px 0 110px;
      flex-direction: column;

      &:before {
        left: auto;
        right: -385px;
        bottom: -80px;
        width: 800px;
        height: 315px;
      }

      .right-side {
        margin-top: 29px;

        &__item {
          text-align: left;
          align-items: flex-start;

          span {
            font-size: 18px;
          }

          p {
            width: 200px;
            font-size: 13px;
          }
        }
      }
    }
  }

  .new-cars {
    .wrapper {
      padding: 40px 0 57px;

      .text {
        margin-top: 17px;
      }

      .wrap-cards {
        margin-top: 32px;
        grid-gap: 40px;
        padding-right: 10px;
        margin-right: -10px;
        padding-left: 10px;
        margin-left: -10px;
      }
    }
  }

  .question-answer {
    .wrapper {
      padding: 37px 0 33px;

      &:before {
        display: none;
      }

      .grid {
        grid-template-columns: 1fr;
      }
    }
  }

  .call-back {
    .wrapper {
      padding: 40px 0;
      grid-gap: 105px;
      grid-template-columns: 1fr;

      .left-side {
        padding: 0 0 0 10px;

        .left-side__title {
          font-size: 32px;
        }

        .left-side__info {
          span {
            font-size: 20px;
          }
        }

        .left-side__car {
          bottom: -220px;
          right: -66px;
        }
      }

      .right-side {
        padding: 135px 20px 20px;
        max-width: 100%;

        .advantages {
          margin-top: 20px;
          grid-template-columns: 1fr;
        }

        .form {
          max-width: 315px;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 530px) {
  .package-services {
    .wrapper {
      .bottom-side {
        height: 440px;
        position: relative;
        padding: 36px 0 41px;

        &:before {
          content: ' ';
          right: 0;
          bottom: 0;
          display: block;
          position: absolute;

          border: 80px solid transparent;
          border-right: 80px solid #E3E8EF;
          border-bottom: 75px solid #E3E8EF;
        }

        .content {
          display: grid;
          grid-row-gap: 0;
          grid-column-gap: 20px;
          grid-template-columns: 140px 140px;

          .item {
            width: 140px;

            &:nth-child(2) {
              order: 1;
              transform: translateY(-20px);
            }
          }
        }
      }

      .right-side {
        &:before {
          content: ' ';
          left: -10px;
          bottom: 0;
          z-index: 2;
          display: block;
          position: absolute;
          border: 80px solid transparent;
          border-left: 80px solid #F1F7FF;
          border-bottom: 75px solid #F1F7FF;
        }
      }
    }
  }
}


@media (max-width: 430px) {
  .main {
    .wrapper {
      .content {
        .title {
          max-width: 300px;
        }

        .subtitle {
          max-width: 212px;
        }
        
        .desc {
          max-width: 160px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .package-services {
    .wrapper {
      .top-side {
        .content {
          .note {
            width: 240px;
          }
        }
      }
    }
  }

  .call-back {
    .wrapper {
      .right-side {
        .form {
          max-width: 265px;
        }
      }
    }
  }
}